*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgba(185, 44, 185) 0%,  rgba(111, 111, 196) 35%, rgba(0,212,255,1));
    /* background-image: url(IMG/re.jpg);
    background-position: cover;
    background-size: 250vh;
    background-repeat: no-repeat; */
    
}
.home a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    /* list-style-type: none; */
    text-align: center;
    /* margin-top: 10px; */
    font-size: xx-large;
    color:black;
}
.container{
    width: 80%;
    padding:20px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);  
    background-color:steelblue;
      
    
}


.nav-item{
    display: flex;
    justify-content: flex-end;
}

.form-control{
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #555;
   
}
.form-select{
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #555;
}
.btn-primary{
    border-radius: 2px;
    background-color:blue;
    border: none;
    border-radius: 10px;
}
h3{
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 900;
}
.form-label{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}